@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.cart-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
}
.cart-totals {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    background-color: #F2F2F2;
    border-bottom: 3px solid #e5e5e5;
}
.cart-totals span {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
.emptyCart-container {
    margin: 20px auto;
    text-align: center;
}
.btn-endBuy, .btn-emptycart{
    margin: auto;
    padding: 5px 15px;
    width: 160px;
    text-align: center;
    font-size: 16px;
    background-color: #272622;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.btn-endBuy:hover, .btn-emptycart:hover{
    color: white;
}