.cart-item:first-child {
    margin-top: 20px;
}
.cart-item {
    margin: 10px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.cart-img {
    padding: 10px;
    width: 200px;
}
.cart-img img {
    width: 100%;
    height: 100%;   
    object-fit: contain;
}
.cart-body {
    padding: 20px 10px;
    width: 70%;
}
.cart body .item-price, .cart-body .item-quantity {
    margin: 0.2rem 0;
}
.cart-body .item-price {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #272622;
}
.cart-button {
    margin: auto 10px;
    padding: 3px;
    text-decoration: none;
    color: white;
    background-color: #272622;
    border: none;
    border-radius: 5px;
}
.trashButton {
    color: white;
    background-color: #272622;
    border: none;
}
