@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:wght@300;400&display=swap');

.greeting {
    margin: 1rem;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}