@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

div {
    display: block;
    height: 500px;

}

h1 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
}