.checkout-container {
    margin: 20px auto;
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;   
}
.checkout-title {
    margin: 1rem;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
.checkout-container .input-checkout{
    margin: 2px;
    width: 250px;
}
.input-endBuy{
    margin: 5px 2px;
    padding: 5px 15px;
    width: 250px;
    text-decoration: none;
    font-size: 16px;
    background-color: #272622;
    color: white;
    border: none;
    cursor: pointer;
}
.btn-buy { 
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    background-color: #272622;
    color: white;
    border: none;
    cursor: pointer;
}