@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.navBar-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
img {
    height: 80px;
    font-size: 6px;
}
#CartWidget {
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    color: azure;
    cursor: pointer;
}
nav {
    display: flex;
    flex-wrap: wrap;
}
.navLink, .dropdown-link, .dropdown-btn {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Comfortaa', 'Open Sans', sans-serif;
    color: azure;
}
.navLink:hover, .dropdown-link:hover, .dropdown-btn:hover {
    font-weight: bold;
    color: azure;
}
.dropdown, .dropdown-btn, nav .navLink {
    padding: 0px 10px; 
}
nav .navLink {
    padding-top: 1px; 
}
.dropdown-content {
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: black;
    border: 1px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content .dropdown-link {
    padding: 8px;
    display: block;
    float: none;
    text-align: left;
}
.dropdown-content .dropdown-link:hover {
    color: black;
    background-color: white;
} 