.item-count {
    display: flex;
    flex-direction: column;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.keypad-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: auto;
    min-width: 150px;
    font-size: 16px;
}
.Quantity {
    margin: 0 5px;    
}
.btn-q {
    width: 40px;
    height: 40px;
    font-family: Open;
    font-weight: lighter;
    background-color: #d9d9d9;
    color: black;
    border: none;
    border-radius: 50%;
}
.btn-cart {
    display: inline-block;
    margin: auto;
    padding: 5px 15px;
    min-width: 150px;
    font-size: 16px;
    background-color: #272622;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
}